$text-color: rgb(255, 255, 255);
$backgound-line: #121212;
$gradient-blue: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
$gradient-red: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
$gradient-hover-blue: linear-gradient(94.26deg, #ad85db 9.51%, #6d5cdf 90.23%);
$gradient-hover-red: linear-gradient(94.78deg, #bd4b43 11.19%, #3f0f41 93.72%);
$input-placeholder: rgba(255, 255, 255, 0.671);
$input-background: rgba(255, 255, 255, 0.336);